# Dependency directories
node_modules
npm-debug.log
yarn-error.log

# Next.js build output
.next
out/

# Backend build output
backend/dist

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Version control
.git
.gitignore

# Development and IDE files
.DS_Store
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log

# Testing
coverage
.nyc_output

# Docker
Dockerfile
Dockerfile.frontend
docker-compose.yml
.dockerignore 